# MongoDB
PORT=
NODE_ENV=
MONGO_URL=

# Brevo SMTP configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

# JWT secret key for signing tokens
JWT_SECRET=

# Frontend domain for password reset link
FRONTEND_DOMAIN=


# Cloudinary credentials for image upload
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
